body {
  background-color: rgb(41, 41, 41);
  color: rgb(230, 230, 230);

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: max-content;
  width: max-content;
}
#message-container_container {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
#message-container {
  height: 75vh;
  width: 500px;

  margin-bottom: 0.84rem;

  background-color: rgb(235, 235, 235);

  overflow: auto;
  display: flex;
  flex-direction: column-reverse;

  cursor: text;
}
#form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  gap: 1rem;
}

#form #message-input {
  height: 1.5rem;
  padding: 0rem 0.75rem;
  font-size: 18px;

  /* margin-left: 1rem; */

  width: auto;
  background-color: rgb(235, 235, 235);

  border: none;
  outline: none;
}
#form #send-button {
  height: 1.5rem;
  padding: 0rem 2rem;
  font-size: 18px;

  background-color: rgb(163, 163, 163);
  border: none;

  cursor: pointer;
}

#form #send-button:hover {
  background-color: rgb(219, 219, 219);
}

.myMessagesContainer {
  width: 100%;
}
.myMessages {
  width: 70%;

  margin-left: auto;
  color: rgba(0, 0, 0, 0.877);
  padding: 0.5rem;

  border-right: rgb(62, 109, 196) solid 0.85rem;
}

.forMeMessagesContainer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.103);
}
.forMeMessages {
  width: 70%;

  margin-right: auto;

  color: rgba(0, 0, 0, 0.877);
  padding: 0.5rem;

  border-left: rgb(0, 0, 0) solid 0.85rem;
}
